[package]
name = "ratto-xtask"
authors.workspace = true
version.workspace = true
edition.workspace = true

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
ron = "0.12.0"
serde = { version = "1.0.228", features = ["derive"] }
